body{
            background-color: rgb(238, 237, 237);
            background-image: url(../media/background.jpg);
            background-size: cover;         
            background-repeat: no-repeat;    
            background-position: center;     
        }